*{
    font-family: Futura;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin-bottom: 10vh;
}

h1{
    text-align: center;
}


footer{
    text-align: center;
    min-height: 50px;
    margin-top: 10vh;
}